#boxCont{
    margin: auto;
    margin-top: 40px;
    background-color: rgb(180, 180, 180);
}

.cell-cont{
    border: 1px solid rgb(0, 0, 0);
}

.cell {
    min-width: 30px;
    max-width: 15px;
    height: 30px;
    background-color: rgb(191, 191, 191);
}

.cell-btn {
    width: 30px;
    height: 30px;
    
}