#heading {
    color: rgb(21, 69, 83);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#container {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
}

.cell-cont {
    height: 100px;
    background-image: linear-gradient(to top, rgb(238, 217, 217), rgb(245, 216, 232));
}



.cell {
    width: 100px;
    
}

